@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #272E35;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.contact-holder {
  background-image: linear-gradient(#000000, rgba(6, 6, 7, 0.492)) ,url("../../public/images/contact.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 80vh;
  background-attachment: fixed;
}